/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 déc. 2014, 21:33:11
    Author     : Arles Mathieu
*/

body {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: grey;
	font-family: "Times New Roman", Georgia, Serif;
	border: solid 1px black;
}

header {
	position:relative;
	width: 100%;
	border-radius: 5px;
}

footer {
	position: relative;
	border: solid black 2px;
	top: 70%;
	width: 100%;
	height: 10%;
}

#image_header {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #8CD3CB;
	border-top-radius: 5px;
}

#titre_appli {
	position: relative;
	top: 5px;
	text-align: center;
	text-decoration-line:underline overline;
	-moz-text-decoration-line:underline overline; /* Code for Firefox */
}

#slogan {
	position: relative;
	left: 50%;
	font-style: italic;
}