body {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: grey;
	font-family: "Times New Roman", Georgia, Serif;
	border: solid 1px black;
}

header {
	position:relative;
	width: 100%;
}

footer {
	position: relative;
	border: solid black 2px;
	top: 70%;
	width: 100%;
	height: 10%;
}

#image_header {
	position: relative;
	width: 100%;
	height: 15%;
	background-color: #8CD3CB;
	border-top-radius: 5px;
	border: 1px solid red;
}

#titre_appli {
	display: inline-block;
	position: relative;
	top: 5px;
	width:100%;
	text-align: center;
	text-decoration-line:underline overline;
	-moz-text-decoration-line:underline overline; /* Code for Firefox */
}

#slogan {
	display:inline-block;
	position: relative;
	left: 50%;
	font-style: italic;
}